/*Element of body (main class)*/

.main__distance1{
	margin:  0px auto;
	height: 35px;
	background-color: #f3f3f3;
}

.main__distance{
	margin: 0px auto;
	height: 20px;
	background-color: #F3F3F3;
}

.component__main{
	margin: 0px auto;
	height: 185px;
	width: 1200px;
	background-color: #fff;
}

.main__title{
	height: 50px;
	width: 100%;
	padding: 30px 10px 0px 10px;
	color: #2d2d2d;
    text-align: center;
    line-height: 20px;
}

.main__laptop{
	display: flex;
}

.main__slideshow{
	margin: 0px auto;
	height: 300px;
	width: 1200px;
	background-color: #fff;
}


/*Thuong hieu laptop*/

.main__laptop-component{
	width: 200px;
	height: 100px;
	margin: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.laptop__component{
	height: 55px;
	width: 70px;
	align-items: center;
    background-size: cover;
    background-position: center;
    margin: 10px 0px;
}

.apple{
	background-image: url(image/ThuonghieuLaptop/apple.png);
}

.dell{
	background-image: url(image/ThuonghieuLaptop/dell.png);
}

.asus{
	background-image: url(image/ThuonghieuLaptop/asus.png);
}

.lenovo{
	background-image: url(image/ThuonghieuLaptop/lenovo.png);
}

.hp{
	background-image: url(image/ThuonghieuLaptop/hp.png);
}