*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: #f3f3f3;
}

/*Header css*/

.header{
	width: 100%;
	height: 92px;
	background-color: #CD1818;
	color: #fff;
}


/*Main css*/

.main{
	width: 100%;
	height: 1000px;
	background-color: #F3F3F3;
	color: #2d2d2d;
}

/*Footer css*/

.footer{
	width: 100%;
	height: 200px;
}