.main__distance1{
	margin:  0px auto;
	height: 35px;
	background-color: #f3f3f3;
}

.main__distance{
	margin: 0px auto;
	height: 20px;
	background-color: #F3F3F3;
}

.component__main{
	margin: 0px auto;
	height: 185px;
	width: 1200px;
	background-color: #fff;
}

.main__title{
	height: 50px;
	width: 100%;
	padding: 30px 10px 0px 10px;
	color: #2d2d2d;
    text-align: center;
    line-height: 20px;
}

.main__laptop{
	display: flex;
}


/*Slide show css*/

.main__slideshow{
	margin: 0px auto;
	height: 300px;
	width: 1200px;
	background-color: #fff;
	position: relative;
}

.prev, .next{
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0;
	background-color: rgba(255,255,255,0);
	transition: all 0.6s ease;
	margin: 0px 8px; 
	display: none;
	cursor: pointer;
}

.prev:hover , .next:hover{
	background-color: rgba(150,150,150,0.8);
}

.next{
	right: 0;
}

.link__slide{
	display: block;
}


/*Button prev and next slide*/
.main__slideshow:hover .prev{
	display: block;
	animation: hoverButtonLeft 1s ease;
}

.main__slideshow:hover .next{
	display: block;
	animation: hoverButtonRight 1s ease;
}

@keyframes hoverButtonLeft{
	from{
		background-color: rgba(255,255,255,0.8);
		transform: translateX(-10px);
	}
	to{
		background-color: rgba(80,80,80,0.8);
		transform: translateX(0px);
	}
}

@keyframes hoverButtonRight{
	from{
		background-color: rgba(255,255,255,0.8);
		transform: translateX(10px);
	}
	to{
		background-color: rgba(80,80,80,0.8);
		transform: translateX(0px);
	}
}



/*Fade animation*/
.fade{
	animation-name: nextSlide;
	animation-duration: 0.4s;
}

@keyframes nextSlide{
	0%{
		opacity: 0.5;
		transform: scale(1.06);
		transform: rotate(-2deg);
	}
	50%{
		opacity: 0.5;
		transform: scale(1.06);
		transform: rotate(2deg);
	}
	100%{
		opacity: 1;
		transform: scale(1);
		transform: rotate(0deg);
	}
}

.main__slideshow-element{
	width: 1200px;
	height: 300px;
	background-size: cover;
	background-position: center;
	display: none;
}

.slide0{
	background-image: url(/image/SlideShow/slide_1.jpg);
}

.slide1{
	background-image: url(/image/SlideShow/slide_2.jpg);
}

.slide2{
	background-image: url(/image/SlideShow/slide_3.jpg);
}

.slide3{
	background-image: url(/image/SlideShow/slide_4.jpg);
}

.main__slideshow-dots{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #f3f3f3; 
}

.dot{
	width: 15px;
	height: 15px;
	margin: 0 3px;
	border-radius: 50%;
	background-color: #aaa;
	display: inline-block;
	cursor: pointer;
	transition: all 0.5s;
}

.dot:hover, .active{
	background-color: #666;
}



/*Thuong hieu laptop*/

.main__laptop-component{
	width: 200px;
	height: 100px;
	margin: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.laptop__component{
	height: 55px;
	width: 70px;
	align-items: center;
    background-size: cover;
    background-position: center;
    margin: 10px 0px;
}

.apple{
	background-image: url(/image/ThuonghieuLaptop/apple.png);
}

.dell{
	background-image: url(/image/ThuonghieuLaptop/dell.png);
}

.asus{
	background-image: url(/image/ThuonghieuLaptop/asus.png);
}

.lenovo{
	background-image: url(/image/ThuonghieuLaptop/lenovo.png);
}

.hp{
	background-image: url(/image/ThuonghieuLaptop/hp.png);
}


/*Product star*/

.main__star{
	width: 1200px;
	height: 500px;
	background-color: #fff;
	margin: 0px auto;
	margin-bottom: 20px;
	display: flex;
}