.main__form{
	margin: 30px auto;
}
.shopping__title-text {
	text-align: center;
	color: red;
	

}

.shopping__form-component{
	margin: 0px 90px;
	display: flex;
}

.label__input{
	flex-grow: 1;
}

/*#shopping__form {
	width: 700px;
    margin: 20px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 0;
}*/


.input__form{
	padding: 0 10px;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.22);
	margin: 0px 0px 25px 10px;
	height: 30px;
	border: 1px solid #ccc;
	width: 65%;
	border-radius: 4px;
}

#button-submit {
	padding: 0 10px;
	margin: 0px 10px 10px 90px;
	height: 30px;
	border: 0px;
	width: 100px;
	border-radius: 4px;
	background-color:rgb(58,219,21);
	color: #fff;
	transition: all 0.4s;
	outline: none;
	font-size: 14px;
}
#cancel {
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border: 0px;
	width: 100px;
	border-radius: 4px;
	background-color: rgb(239, 68, 68);
	color: #fff;
	transition: all 0.4s;
	outline: none;
	text-align: center;
}
#button-submit:hover {
	background-color: rgba(58,219,21,0.8);
	transform: scale(1.2);
	cursor: pointer;
}
#cancel:hover {
	background-color: rgb(239, 16, 16);
	transform: scale(1.2);
	cursor: pointer;
}
.return {
	background-color: rgb(58,219,21);
	padding: 8px 10px;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
}
.return:hover{
	background-color: rgba(58,219,21,0.8);
}
.submit__success {
	text-align: center;
}
.congratulation {
	margin: 30px 0;
	font-size: 2rem;
	color: #666;
}
.link__cancel{
	display: block;
}
.shopping__title-text {
	text-align: center;
	color: red;
	

}

.shopping__form-component{
	margin: 0px 90px;
	display: flex;
	justify-content: center;
}

.label__input{
	flex-grow: 1;
}

#shopping__form {
	background-color: #fff;
	width: 700px;
	margin: 20px auto;
	border: 1px solid #bbb;
	border-radius: 10px;
	text-align: ;
	padding: 20px 0;
}


.input__form{
	padding: 0 10px;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.22);
	margin: 0px 0px 25px 10px;
	height: 30px;
	border: 1px solid #ccc;
	width: 65%;
	border-radius: 4px;
}

#button-submit {
	padding: 0 10px;
	margin: 0px 10px 10px 50px;
	height: 30px;
	border: 0px;
	width: 100px;
	border-radius: 4px;
	background-color:rgb(58,219,21);
	color: #fff;
	transition: all 0.4s;
	outline: none;
	font-size: 14px;
}
#cancel {
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border: 0px;
	width: 100px;
	border-radius: 4px;
	background-color: rgb(239, 68, 68);
	color: #fff;
	transition: all 0.4s;
	outline: none;
	text-align: center;
}
#button-submit:hover {
	background-color: rgba(58,219,21,0.8);
	transform: scale(1.2);
	cursor: pointer;
}
#cancel:hover {
	background-color: rgb(239, 16, 16);
	transform: scale(1.2);
	cursor: pointer;
}
.return {
	background-color: rgb(58,219,21);
	padding: 8px 10px;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
}
.return:hover{
	background-color: rgba(58,219,21,0.8);
}
.submit__success {
	text-align: center;
}
.congratulation {
	margin: 30px 0;
	font-size: 2rem;
	color: #666;
}
.link__cancel{
	display: block;
}
.sp-box {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	position: relative;
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border-bottom: 2px solid #eee;
}

.sp-box-im {
	width: 200px;
	height: 100px;
	padding: 5px;
	float: left;
	text-align: center;
	background: #fff;
	background-size: cover;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}



.sp-box-name {
	display: inline;
	margin-left: 20px;
	position: relative;
	padding-right: 10px;
}
.sp-box-namefont{
	font-size: 16px;
	font-weight: bold;
	color: #4a4a4a;
	margin-bottom: 10px;
}
.sp-box-color-default{
	width: 15px;
	height: 15px;
	background-color: #555;
	display: inline-block;
	border-radius: 50%;
}
.sp-box-price {
	width: 100px;
	padding-right: 10px;
	display: table-cell;
	vertical-align: top;
}
.sp-box-quantity {
	width: 200px;
	margin-left: 50px
}
.purchased-products-box{
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#done {
	margin-top: 250px;
}