
/*Header CSS*/

.header__head{
	background-color: #CD1818;
	height: 56px;
}

.header__menu{
	line-height: 36px;
	height: 36px;
	background-color: #252525;
}

.component__header{
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}


/*Element of header__head*/

#header__logo {
    width: 50px;
    height: 50px;
    background-image: url(/image/logo.png);
    background-size: cover;
    background-position: center;
    margin: 9px 0px 0px 0px;
}

.header__search-input{
	height: 38px;
    width: 555px;
    padding: 6px 10px;
    margin: 9px 0px 9px 60px;
    border-radius: 3px;
    border: none;
    flex-grow: 1
}

.button{
	cursor: pointer;
	border: none;
	border-radius: 3px;
}

.button-search{
	height: 38px;
	width: 38px;
	background-color: #333;
}

#shopping-cart{
	margin: 9px 0px;
	width: 50px;
	height: 38px;
	background-color: #CD1818;
	outline: none;
}

/*Element header__menu*/

.header__menu{
	line-height: 36px;
}

.link__laptop{
	text-decoration: none;
	color: #fff;
	display: block;
}

.link__laptop{
	position: relative;
}

/*Sub menu of header*/
.sub__menu{
	list-style-type: none;
	line-height: 36px;
	position: absolute;
	display: none;
	z-index: 2;
	animation-name: submenu;
	animation-duration: 0.6s;
}

.sub__menu-element{
	width: 120px;
	height: 100%;
	background-color: #999;
	border-bottom: 1px #fff solid;
	border-radius: 3.5px;
	z-index: 2;
}

.header__laptop:hover .sub__menu{
	display: block;
	margin: 0px !important;
}

.sub2__menu{
	text-align: center;
	list-style-type: none;
	line-height: 36px;
	position: absolute;
	display: none;
	animation-name: submenu;
	animation-duration: 0.6s;
}

.sub__menu-element:hover{
	opacity: 0.98;
	background-color: #777;
}

.sub__menu-element:hover .sub2__menu{
	display: block;
	left: 100%;
	top: 50%;
}

@keyframes submenu{
	0%{
		opacity: 0.4;
		transform-origin: top center;
	}
	100%{
		opacity: 1;
	}
}
#laptop-logo{
	padding-top: 10px;
	
}